<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.kefirkb.core"/>
    <context:property-placeholder location="file:./app.properties"/>
    <!--context:property-placeholder location="classpath*:app.properties"/-->

    <bean id="serverSocket" class="java.net.ServerSocket">
        <constructor-arg name="port" value="${server.port}"/>
    </bean>

    <bean id="threadPoolTaskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
    </bean>

    <bean id="receiverSenderServiceImpl" class="com.kefirkb.core.ReceiverSenderServiceImpl" scope="prototype">
        <constructor-arg type="com.kefirkb.core.FileWorkerService" ref="fileWorkerServiceImpl"/>
    </bean>

    <bean id="serverCore" class="com.kefirkb.core.ServerCoreImpl">
        <lookup-method name="getReceiverSenderService" bean="receiverSenderServiceImpl"/>
    </bean>
</beans>